{%extends "base.html" %}
{%block content %}
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card">
                        <div class="card-header bg-dark text-white">
                            <h4 class="mb-0">Student Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="fw-bold">Name:</h6>
                                </div>
                                <div class="col-sm-9">
                                    <p>{{ student.name }}</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="fw-bold">Age:</h6>
                                </div>
                                <div class="col-sm-9">
                                    <p>{{ student.age }}</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="fw-bold">Class:</h6>
                                </div>
                                <div class="col-sm-9">
                                    <p>{{ student.class }}</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="fw-bold">Roll:</h6>
                                </div>
                                <div class="col-sm-9">
                                    <p>{{ student.roll }}</p>
                                </div>
                            </div>
                            <div class="mt-4">
                                <a href="#" class="btn btn-primary">Edit</a>
                                <a href="#" class="btn btn-secondary">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
{%endblock content %}